<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your stories</p>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}"></a>{{title}}</td>
                    <td>{{formatDate createdAt 'MMM Do YYYY, h:mm:ss a'}}</td>  <!--date formated by formatDate defined in hbs.js in Helpers folder; then define format MMYY here-->
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any stories. Add one now!</p>
{{/if}}
